@charset "UTF-8";

/*common*/

*{
	flex:1 1 auto;
}

.logo{
	margin-top:-90px;
	margin-left:0px;
	position: absolute;
	height:110px;
	z-index: 2;
}

.titlebar{
	margin-top:10px;
	position:relative;
	height:80px;
	width:600px;
	z-index: 1;
}

.edit{
	font-size:20px;
	margin-left:280px;
	margin-top:-35px;
	position:absolute;
	z-index: 2;
}

.search{
	font-size:20px;
	margin-left:380px;
	margin-top:-35px;
	position:absolute;
	z-index: 2;
}

a.search:link{
	color:#ffffff;
}

a.search:visited{
	color:#ffffff;
}

a.search:hover{
	color:#ffffff;
}
a.search:active{
	color:#ffffff;
}

a.edit:link{
	color:#ffffff;
}

a.edit:visited{
	color:#ffffff;
}

a.edit:hover{
	color:#ffffff;
}
a.edit:active{
	color:#ffffff;
}

h2{
	text-align:center;
	margin-top:30px;
}

.h2{
	position:relative;
	width:200px;
	z-index: 1;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

p{
	color:#00BFFF;
}

.button{
	text-align:center;
	margin-top:20px;
}

.buttonsize{
	width:130px;
	margin-top:50px;
}

.logoutbutton{
	position:relative;
	z-index: 1;
	margin-top:-100px;
	margin-left:1150px;
}



/*Menu*/
	*{
		/* 初期化 */
		margin:0px;padding:0px;
	}

.searchpage{
	width: 300px;
	height: 300px;
	position:relative;
	top:50px;
	left:50px;
	z-index: 1;
}

.titlepage{
	width: 300px;
	height: 300px;
	position:relative;
	bottom:150px;
	left:490px;
	z-index: 1;
}

.editpage{
	width: 300px;
	height: 300px;
	position:absolute;
	bottom:0px;
	right:10px;
	z-index: 1;
}

/*Search*/
.navigation{
	margin-left:30px;
	margin-bottom:10px;
	width:300px;
}

div.blockA{
	float:left;
	width:40%;
	margin:-50px 0 0 10px;
}

div.blockB{
	text-align:center;
	width:0%;
	margin-top:100px;
}

div.blockC{
	width:0%;
	margin-top:-85px;
	margin-left:840px;
}

.line{
	list-style-type:circle;
}

a:link{
	color:#1E90FF;
}

a:visited{
	color:#1E90FF;
}

a:hover{
	color:#1E90FF;
}
a:active{
	color:#1E90FF;
}

.wordsearch{
	margin-bottom:10px;
	width:20em;
}

.andor{
	margin-top:10px;
}



/*Result*/
.searchresult{
	 position:relative;
}

.r_qb{
	position:relative;
	width:1000px;
	margin-left:170px;
	margin-bottom:0px;
}

.r_question{
	position: absolute;
	margin-left:-850px;
	margin-top:25px;
	font-size:18px;
	border:none;
}

.r_pageview{
	position: absolute;
	margin-left:-190px;
	margin-top:100px;
	font-size:18px;
	color:#FFFFFF;
	background-color:transparent;
	border:none;
}

.hitnumber{
	position:relative;
	margin-left:170px;
}



/*Detail*/
.d_qb{
	position:relative;
	width:1000px;
}

.d_ab{
	position:relative;
	width:1000px;
}

.d_question{
	position: absolute;
	margin-left:150px;
	margin-top:30px;
	font-size:18px;
	border:none;
}

.d_pageview{
	position: absolute;
	font-size:18px;
	font-weight:bold;
	color:#00BFFF;
	background-color:transparent;
	border:none;
	margin-left:250px;
	margin-top:-30px;
}

.d_date{
	position: absolute;
	background-color:transparent;
	border:none;
	font-size:18px;
	font-weight:bold;
	color:#00BFFF;
	margin-left:950px;
	margin-top:-45px;
}

.d_answer{
	position: absolute;
	margin-left:150px;
	margin-top:30px;
	font-size:18px;
	border:none;
}

.d_answerer{
	position: absolute;
	background-color:transparent;
	border:none;
	font-size:18px;
	font-weight:bold;
	color:#00BFFF;
	margin-left:950px;
	margin-top:-45px;
}



/*Login*/
.login{
	width: 300px;
	height:100px;
	position:relative;
	left:600px;
	top:20px
}

.logintext{
	text-align:center;
	margin-top:20px;
}



/*Edit*/
.henshu{
	width: 300px;
	height:100px;
	position:relative;
	left:625px;
	top:20px;
	z-index: 1;
}

.registpage{
	width: 100px;
	height: 100px;
	position:relative;
	top:100px;
	left:270px;
	z-index: 1;
}

.udsearchpage{
	width: 100px;
	height: 0px;
	position:relative;
	top:0px;
	left:850px;
	z-index: 1;
}




/*Regist*/

.registbutton{
	width: 300px;
	height:100px;
	position:relative;
	left:650px;
	top:20px;
}

input[type="text"] {
  border: 1px solid #4689FF;
}

.regist_qb{
    border: 2px solid #0a0;  /* 枠線 */
    border-radius: 0.67em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    background-color: none;  /* 背景色 */
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;        /* 行の高さ */

	position:relative;
	left:100px;
}

.regist_ab{
    border: 2px solid #0a0;  /* 枠線 */
    border-radius: 0.67em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    background-color: none;  /* 背景色 */
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;        /* 行の高さ */

	position:relative;
	left:100px;
}

.regist_ql{
	margin-left:100px;
	margin-top:20px;
}


.regist_al{
	margin-left:100px;
	margin-top:0px;
}

.regist_blockA{
	float:left;
}

.regist_blockB{
	float:right;
	margin-top:50px;
	margin-right:80px;
	margin-bottom:0;
}

/*Udsearch*/
input[type="text"] {
  border: 1px solid #4689FF;
}

.udsearch_qb{
    border: 2px solid #0a0;  /* 枠線 */
    border-radius: 0.67em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    background-color: none;  /* 背景色 */
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;        /* 行の高さ */

	position:relative;
	left:100px;
}

.udsearch_ab{
    border: 2px solid #0a0;  /* 枠線 */
    border-radius: 0.67em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    background-color: none;  /* 背景色 */
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;        /* 行の高さ */

	position:relative;
	left:100px;
}

.udsearch_ql{
	margin-left:100px;
	margin-top:20px;
}


.udsearch_al{
	margin-left:100px;
	margin-top:0px;
}

.udsearch_blockA{
	float:left;
}

.udsearch_blockB{
	float:right;
	margin-top:50px;
	margin-right:80px;
	margin-bottom:0;
}

/*Udresult*/
.Udresult_qb{
	position:relative;
	width:1000px;
	margin-left:170px;
	margin-bottom:0px;
}

.Udresult_question{
	position: absolute;
	margin-left:150px;
	margin-top:30px;
	font-size:18px;
	border:none;
}

.Udresult_pageview{
	position: absolute;
	font-size:18px;
	font-weight:bold;
	color:#00BFFF;
	background-color:transparent;
	border:none;
	margin-left:250px;
	margin-top:-30px;
}



/*Udedit*/


.koushinbutton{
	width: 300px;
	height:100px;
	position:relative;
	left:470px;
	top:20px;
}

.sakujyobutton{
	width: 300px;
	height:100px;
	position:relative;
	left:810px;
	top:-79px;
}

input[type="text"] {
  border: 1px solid #4689FF;
}

.udedit_qb{
    border: 2px solid #0a0;  /* 枠線 */
    border-radius: 0.67em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    background-color: none;  /* 背景色 */
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;        /* 行の高さ */

	position:relative;
	left:100px;
}

.udedit_ab{
    border: 2px solid #0a0;  /* 枠線 */
    border-radius: 0.67em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    background-color: none;  /* 背景色 */
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;        /* 行の高さ */

	position:relative;
	left:100px;
}

.udedit_ql{
	margin-left:100px;
	margin-top:20px;
}


.udedit_al{
	margin-left:100px;
	margin-top:0px;
}

.udedit_blockA{
	float:left;
}

.udedit_blockB{
	float:right;
	margin-top:200px;
	margin-right:80px;
	margin-bottom:0;
}